<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ah Cueille</title>
    <link rel="stylesheet" href="../public/style.css">    
</head>
<body>
    <header>
        <nav class="navbar primary">
            <a href="#" class="navbar-brand">Navbar</a>
            <br>
            <div class="navbar-menu ml-auto">
                <a class="navbar-link" href="#">Accueil</a>
                <a class="navbar-link" href="#">Découverte</a>
                <a class="navbar-link" href="#">Contact</a>
            </div>
        </nav>
    </header>

    <main>
    {% block body %}
    <h1> CouCou </h1>

    <p>Ceci est la page d'accueil</p>
    {% endblock %}
    </main>

    <footer class="footer primary">
        Copyright © 2022 - Seins Faux Nie
    </footer>
</body>
</html>